[Desktop Entry]
Name=Awesome Stopwatch
Comment=A minimal GTK3 stopwatch with lap support
Exec=awesome-stopwatch
Icon=chronometer
Terminal=false
Type=Application
Categories=Utility;Clock;GTK;
Keywords=timer;stopwatch;lap;
